[submodule "fost-android-ndk"]
	path = fost-android-ndk
	url = git@github.com:hotkit/fost-android-ndk.git
[submodule "fost-android-java"]
	path = fost-android-java
	url = git@github.com:hotkit/fost-android-java.git
