[submodule "fost-android-ndk"]
	path = fost-mobile
	url = git@github.com:hotkit/fost-mobile.git
[submodule "fost-android-java"]
	path = fost-android-java
	url = git@github.com:hotkit/fost-android-java.git
